<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.companioncar.dal.dao.TagMapper" >
  <resultMap id="BaseResultMap" type="com.companioncar.dal.model.Tag" >
    <id column="tag_id" property="tagId" jdbcType="VARCHAR" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="click_count" property="clickCount" jdbcType="BIGINT" />
    <result column="tag_type" property="tagType" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    tag_id, tag_name, is_delete, click_count, tag_type, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tag
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.companioncar.dal.model.Tag" >
    insert into tag (tag_id, tag_name, is_delete, 
      click_count, tag_type, create_time, 
      update_time)
    values (#{tagId,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, 
      #{clickCount,jdbcType=BIGINT}, #{tagType,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.companioncar.dal.model.Tag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="tagType != null" >
        tag_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="clickCount != null" >
        #{clickCount,jdbcType=BIGINT},
      </if>
      <if test="tagType != null" >
        #{tagType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.companioncar.dal.model.Tag" >
    update tag
    <set >
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount,jdbcType=BIGINT},
      </if>
      <if test="tagType != null" >
        tag_type = #{tagType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.companioncar.dal.model.Tag" >
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      click_count = #{clickCount,jdbcType=BIGINT},
      tag_type = #{tagType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where tag_id = #{tagId,jdbcType=VARCHAR}
  </update>
</mapper>